body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #fafafa;
  padding: 10px;
  padding-right: 0;
  height: 60px;
  width: 100%;
  position: fixed;
  box-shadow: 10px 10px 10px #ddd;
}
.no-body{
  height: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
  float: right;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  padding: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
  color: black;
}

#navbar-logo{
  height: 60px;
}

.section{
  padding: 40px;

}

.section h1{
  margin: 0;
}

.section h3{
  margin: 0;
}

#info_utama{
  display: flex;
}

#identitas{
  margin-top: 20px;
  width: 50%;
  margin-right: 10px;
}

#identitas p{
  line-height: 20px;
  font-size: 15px;
  color: #8e8e8e;

}

#gambar{
  width: 50%;
  margin-left: 10px;
}

#gambar img{
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px #b5b5b5;
}

.call-me{
  padding: 12px 32px;
  background-color: #fff;
  border-radius: 32px;
  color: #ff7b51;
  margin-top: 16px;
  border: 1px solid #ff7b51;
  transition: 0.3s;
}

.call-me:hover{
  box-shadow: 0px 10px 10px #ddd;
  background-color: #ff7b51;
  color: white;

}